.pagination__container {
  display: flex;
  justify-content: center;
}

.pagination__button {
  padding: 5px;
  background-color: #95bbd4;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 5px;
}

.pagination__page-active {
  display: flex;
  align-items: center;
  text-align: center;
}

.pagination__current-page {
  display: block;
  width: 15px;
  margin-right: 5px;
}
