h1 {
  text-align: center;
}

.products-cards {
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #e1e2f0;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
}

.products-cards:hover {
  overflow: hidden;
  box-shadow: 0 0 5px;
}

.productDesc {
  display: flex;
  justify-content: space-between;
}

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-height: 10rem;
  cursor: pointer;
  padding-bottom: 2rem;
}

.product-price {
  padding-top: 0.6rem;
}

.add-to-cart-btn {
  background-color: #266fa0;
  border: none;
  color: white;
  padding: 0.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
}

@media only screen and (min-width: 769px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .products-cards {
    padding: 1rem;
    width: 25%;
    margin-bottom: 2rem;
    border: none;
    border-radius: none;
    box-shadow: none;
  }

  .products-cards:hover {
    overflow: hidden;
    box-shadow: 0 0 5px;
  }

  .productDesc {
    display: flex;
    justify-content: space-between;
  }

  .product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
    padding-bottom: 2rem;
  }
}
